body{
    padding: 0;
    margin: 0;
    background: rgb(11, 0, 41);
}
header{
    border-radius:30px;
    background: rgb(38, 33, 46);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0 3vw;
    padding: 0 150px 0 0;
}   
header .icon{
    text-indent: -999999999px;
    width: 47px;
    height: 53px;
    margin:0 0 0 30px;
    background-image: url("images/bigg-transparent-logo.png");
    background-size: 47px;
    z-index: 10;
}
header .animation{
    color: rgb(181, 181, 181);
    padding:20px;
    border-radius: 10px;
    transition: all 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header .animation:hover{
    color: white;
    background: rgb(76, 76, 76);
}
a {
    text-decoration: none;
}

.language{
    margin-right: 0;
    position: absolute;
    right: 5%;
    color: rgb(181, 181, 181);
    padding:20px;
    transition: all 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header div .text{
    border-radius: 10px;
    width:70px;
}
div .text:hover{
    color: white;
    background: rgb(76, 76, 76);
}
.flag{
    right: 5%;
    text-indent: -999999999px;
    width: 45px;
    height: 30px;
    padding:0;
    margin:15px;
    background-image: url("images/italian-flag.png");
    background-size: 45px;
}


.main{
    text-align: center;
}
.big-image{
    height:550px;
    margin:25px;
    border-radius: 30px;
    text-indent: -999999999px;
    background: linear-gradient(to top, rgb(83, 121, 138),rgb(180, 196, 203));
    background-size: 100%;
    background-position: center;
    min-height: 150px;
    box-shadow: rgb(87, 102, 133) 0 100px 400px;
}
.right-people{
    text-indent: -999999999px;
    width: min(500px,45vw);
    height: min(500px,45vw);
    background: rgbaa(255, 0, 166, 0.099);
    background-image: url("images/persone-a-destra.png");
    background-size: min(500px,45vw);
    position: relative;
    top: calc(56.5px - min(500px,45vw));
    margin: -100px 25px -100px 25px;
    border-radius: 30px;
}
.left-people{
    text-indent: -999999999px;
    width: min(500px,45vw);
    height: min(500px,45vw);
    background: rgbaa(255, 0, 166, 0.099);
    background-image: url("images/persone-a-sinstra.png");
    background-size: min(500px,45vw);
    position: relative;
    top: calc(7px - min(500px,45vw));
    left: 100%;
    margin: calc(42px + calc(7px - min(500px,45vw))) calc(-25px - min(500px,45vw));
    border-radius: 30px;
}
.big-icon{
    text-indent: -999999999px;
    width:270px;
    height: 300px;
    background-image: url("images/bigg-transparent-logo.png");
    background-size: 270px;
    position: relative;
    display:inline-block;
    top:-425px;
    margin:-180px;
}
.big-name{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(126, 19, 19);
    position: relative;
    top:-200px;
    font-size: 70px;
    text-shadow: rgb(255, 122, 122) 0 0 10px;
}
.team{
    margin:0 50px;
    position: relative;
    top:-80px;
    color: rgb(74, 74, 74);
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}
@media screen and (max-width: 900px) {
    .team{
        font-size: 10px;
    }
}

.absolute{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; 
}
.name-position{
    top:-20px;
}

.left-image {
    text-indent: -999999999px;
    position: absolute;
    top:770px;
    left: 100px;
    color:white;
    width: 250px;
    height: 250px;
    background-size: 430px;
    background-image: url("images/chi-siamo-image.jpg");
    border-radius: 50%;
}
.effect::after, .effect::before{
    content:'';
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(rgb(255, 104, 104),rgb(161, 255, 98),rgb(111, 255, 255),rgb(132, 115, 255),rgb(255, 111, 245),rgb(255, 104, 104));
    top:50%;
    left:50%;
    translate: -50% -50%;
    padding: 3px;
    border-radius: 50000px;
    z-index: -1;
}
.effect::before{
    filter: blur(1.5rem);
    opacity: 0.5;
} 
.left-text{
    color: white;
    background:red;
    padding:22px;
    border-radius: 5000px;
    width:250px;
    text-align: center;
    position: absolute;
    top:864px;
    left: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.right-image {
    text-indent: -999999999px;
    position: absolute;
    top:970px;
    right: 100px;
    color:white;
    width: 250px;
    height: 250px;
    background-size: 250px;
    background-image: url("images/cosa-facciamo-image.jpg");
    background-position: bottom;
    border-radius: 50%;
}
.right-text{
    color: white;
    background:red;
    padding:22px;
    border-radius: 5000px;
    width:250px;
    text-align: center;
    position: absolute;
    top:1064px;
    right: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.third div{
    top:1264px;
}
.third .image{
    top:1170px;;
    background-image: url("images/team.jpg");
    background-size: 100%;
    background-position: center;
}

.fourth div{
    top:1464px;
}
.fourth .image{
    top:1370px;
    background-image: url("images/contatti-image.jpg");
    background-size: 180%;
    background-position: center;
}
@media screen and (max-width:975px) {
    .left-text{
        left: 200px;
    }
    .right-text{
        right: 200px;
    }
    .big-name{
        font-size: 50px;
    }
}


.links div .animation:hover{
    background: rgb(255, 169, 169);

}

.space{
    text-indent: -999999999px;
    height: 1000px;
}

.socials ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}
.social {
    color:white;
    text-indent: 0;
    margin: auto;
    font-size: 0;
    transition: all 0.5s;
}
.social a img{
    width:150px;
    height:150px;
    border-radius: 40px;
    box-shadow: rgb(186, 186, 186) 0 0 200px;
    transition: all 1s;
}
.social a img:hover{
    transition: all 0.2s;
    box-shadow: rgb(255, 255, 255) 0 0 100px;
}
.logo-gmail{
    border-radius: 40px;
    background: rgb(220, 220, 203);
    width:150px;
    height:150px;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
}
.logo-gmail .text{
    text-align: center;
    position: absolute;
    top: 61px;
    left:175px;
    color: black;
}
.logo-gmail:hover{
    font-size: 27px;
    width:500px;
    transition: all 0.5s;
}

.space2{
    text-indent: -999999999px;
    height: 50px;
}

.sponsors-section{
    margin:0 0 40px 0
}
.bg{
    margin:25px;
    border-radius: 30px;
    background-image: conic-gradient(rgb(146, 47, 47) ,rgb(38, 0, 0), rgb(146, 47, 47));
    box-shadow: rgb(70, 69, 124) 0 0 200px;
}
.sponsor-text{
    position: absolute;
    margin:60px 0 0 0;
    left: 100px;
    font-size: 50px;
    color:white;
}

.sponsors-logos ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 130px 50px 60px 50px;
}
.sponsors-logos ul li{
    color:white;
    padding:0 50px;
}
.sponsors-logos ul li:first-child{
    padding: 0 50px 0 50px;
}
.sponsors-logos ul li img{
    height:150px;
}